.container-classification {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  background-color: #18181b;
  border-radius: 1.5rem;
}

.w-objects {
  width: 100%;
  margin: 0 auto;
  padding: 0 0.5rem;
}

@media (min-width: 768px) {
  .container-classification {
    border-radius: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1024px) {
  .container-classification {
    display: flex;
    justify-content: center;
  }
}
