body{
  font-family: "Inter", sans-serif;;
}

.background-img {
  background-image: url(../assets/background-image.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.w-122 {
  width: 28rem;
}

.li-color::marker {
  color: #1d5eee;
}
