body {
  font-family: "Inter", sans-serif;
}

.background-img {
  background-image: url(../src/assets/background-image.png);
  background-color: #242424;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.w-122 {
  width: 28rem;
}

.li-color::marker {
  color: #1d5eee;
}

.width {
  width: 26rem;
}

.gap {
  gap: 2.5rem;
}

.bg-matches {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-matches::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../src/assets/bgMatches.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
  border-radius: 1.5rem;
}

.bgInfoLeague {
  background-image: url(../src/assets/bgInfoLeague.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.bg-matcheDetails {
  background-image: url(../src/assets/bg-gameDetails1.png);
  background-color: #242424;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.w-objects {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

.container-fixture {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  gap: 1rem;
}

.text-responsive{
  font-size: 14px;
}

.text-invisible{
  display: none;
}

@media (min-width: 768px) {
  .w-objects {
    max-width: 45rem;
    margin: 2rem auto;
  }

  .text-responsive{
    font-size: 16px;
  }

  .text-invisible{
    display: block;
  }
}

/*  game details */



@media (min-width: 1024px) {
  .w-objects {
    max-width: 83rem;
    margin: 2rem auto;
  }
  .container-fixture {
    display: flex;
    flex-direction: row;
  }
}
